<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
    <div class="ui-g">

      <div class="ui-g-12">
          <h1>{{editando ? 'Edição de' : 'Nova'}} Pessoa</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
          <label style="display: block;">Nome</label>
          <input type="text" pInputText name="nome" [(ngModel)]="pessoa.nomePessoa"
          #nome="ngModel"  required minlength="5"/>

         <app-message [control]="nome" error="required"
          text="Informe o nome"></app-message>

          <app-message [control]="nome" error="minlength"
          text="Mínimo de {{nome.errors?.minlength?.requiredLength}} caracteres"></app-message>

        </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
          <label style="display: block;">Logradouro</label>
          <input type="text" pInputText name="logradouro" [(ngModel)]="pessoa.endereco.logradouro"
          #logradouro="ngModel" required minlength="5"/>

          <app-message [control]="logradouro" error="required"
          text="Informe o logradouro"></app-message>

          <app-message [control]="logradouro" error="minlength"
          text="Mínimo de {{logradouro.errors?.minlength?.requiredLength}} caracteres"></app-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
          <label style="display: block;">Número</label>
          <input type="text" pInputText name="numero" [(ngModel)]="pessoa.endereco.numero"
          #numero="ngModel" required minlength="1"/>

          <app-message [control]="numero" error="required"
          text="Informe o número"></app-message>

          <app-message [control]="numero" error="minlength"
          text="Mínimo de {{numero.errors?.minlength?.requiredLength}} caracteres"></app-message>
      </div>


      <div class="ui-g-12 ui-md-4 ui-fluid">
          <label style="display: block;">Complemento</label>
          <input type="text" pInputText name="complemento" [(ngModel)]="pessoa.endereco.complemento" #complemento="ngModel"/>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
          <label style="display: block;">Bairro</label>
          <input type="text" pInputText name="bairro" [(ngModel)]="pessoa.endereco.bairro"
          #bairro="ngModel" required minlength="5"/>

          <app-message [control]="bairro" error="required"
          text="Informe o nome do bairro"></app-message>

          <app-message [control]="bairro" error="minlength"
          text="Mínimo de {{bairro.errors?.minlength?.requiredLength}} caracteres"></app-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
          <label style="display: block;">CEP</label>
          <p-inputMask mask="99.999-999" name="cep" [(ngModel)]="pessoa.endereco.cep"
          #cep="ngModel" required></p-inputMask>

         <app-message [control]="cep" error="required"
          text="Informe o cep"></app-message>
      </div>


      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label style="display: block;">Cidade</label>
          <input type="text" pInputText name="cidade" [(ngModel)]="pessoa.endereco.cidade"
          #cidade="ngModel" required minlength="5"/>

          <app-message [control]="cidade" error="required"
          text="Informe o nome da cidade"></app-message>

          <app-message [control]="cidade" error="minlength"
          text="Mínimo de {{cidade.errors?.minlength?.requiredLength}} caracteres"></app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label style="display: block;">Estado</label>
          <input type="text" pInputText name="estado" [(ngModel)]="pessoa.endereco.estado"
          #estado="ngModel" required minlength="2"/>

           <app-message [control]="estado" error="required"
          text="Informe o nome do Estado"></app-message>

          <app-message [control]="estado" error="minlength"
          text="Mínimo de {{estado.errors?.minlength?.requiredLength}} caracteres"></app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label style="display: block;">Status</label>
          <p-dropdown name="ativo" [options]="status"
          placeholder="Selecione" [autoWidth]="false"  #ativo
          [(ngModel)]="pessoa.ativo" required></p-dropdown>

      </div>


      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" style="margin-right: 5px;" [disabled]="f.invalid"></button>

        <button pButton type="submit" label="Novo" class="ui-button-info"
        style="margin-right: 5px;" (click)="novo(f)"></button>

        <a routerLink="/pessoas">Voltar para pesquisa</a>
      </div>
    </div>

  </form>
</div>
